h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.list {
  display: flex;
  gap: 30px;
}
.gallery {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
}
